html,body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    overflow-y: auto;
    
}

.header{
    width: 99%;
    position: absolute;
    height: 66px;
    background-image: url(pic/main\ background\ 1.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 18px;
    background-color: white;
}

.left-side{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.logo{
    height: 40px;
    margin-left: 50px;
    margin-bottom: 5px;
}

.header a.key_function{
    color: white;
    background-color: black;
    padding: 4px 10px;
}


a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.right-side
{
    margin-right: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.sign{
    border-right: solid;
    padding-right: 10px;
}

.line{
    border-top: solid;
    display: block;
    width: 98%;
    margin: 0px auto;
}

.content{ 
    width: 100%;
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    
}

.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    
}

.title-container{
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(#FAECD8,white);
    
    
}

.backBt{
    position: absolute;
    right: 5%;
    top: 16%;
    border-radius: 100%;
    
}

.backBt:hover{
    transition: 0.15s;
    box-shadow: 0px -3px 5px rgba(0,0, 0, 0.2);
}

.pdf:hover,.email:hover{
    transition: 0.15s;
    box-shadow: 0px 0px 5px rgba(0,0, 0, 0.2);
}

.backBt:active,.pdf:active,.email:active{
    transition: 0.15s;
    opacity: 0.8;
}

.recommend{
    margin-left: 100px;
    font-family: 'Magra';
    font-size: 30px;
    margin-top: 50px;
}

.title{
    font-family: 'Madimi One';
    font-size: 53px;
    background-image: url(pic/bgShape.png);
    height: 140px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    color: white;
    background-size: contain;
    margin-top: 20px;
    padding: 10px;
}


.intro{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    
}

.details{
    margin: 0 105px;
    font-family: 'Albert Sans';
    max-width: 1200px;
    font-size: 23px;
    letter-spacing: 0.5px;    
}


.kid{
    height: 290px;
    width: 392px;
    margin-right: 200px;
    margin-top: 40px;
    border-radius: 30px;
    box-shadow: 25px 30px 0px #FFE7C1;
}

.head{
    margin-left: 105px;
    font-family: 'Madimi One';
    font-size: 32px;
    margin-bottom: 40px;
}

.vid{
    width: 80%;
    height: 550px;
    border-radius: 70px;
    background-color: #F9ECD8;
    margin: auto;
}


.footer{
    width: 100%;
    height: 70px;
    background-image: url(pic/main\ background\ 2.png);
    background-size: cover;
    color: transparent;
}

.button{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    font-family: 'Madimi One';
    font-size: 23px;
    margin-bottom: 50px;
}

.pdf{
    color: white;
    background-color: #F93D40;
    padding: 10px 200px;
    border-radius: 30px;

}

.email{
    color: white;
    background-color: #3EC642;
    padding: 10px 145px;
    border-radius: 30px;
}