html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
    width: 100%;
}

    body {
        background: rgba(250, 236, 216, 0.3);
        background-image: url(pic/bg.png);
        background-size: 100% 100%;
    }

    .welcome{
        font-family: Kaushan Script;
        font-size: 48px;
        
    }

    .main {
    height: auto;
    width: 45%;
    border-radius: 60px;
    box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.45);
    background-color: rgb(253, 249, 243);
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 30px;
    }

    .logo {
        position: absolute;
        height: 60px;
        margin-top: -20px;
        margin-left: -13px;
        
    }

    .log {
        display: inline-block;
        font-family: "Jost", sans-serif;
        font-size: 35px;
        font-weight: 600;
        margin-top: 25px;
        margin-left: 33px;
        margin-bottom: 20px;
        
    }

    .pass, .user {
        display: block;
        width: calc(98% - 70px);
        padding: 10px 0px 10px 40px;
        margin: 13px 0;
        margin-left: 30px;
        border-radius: 10px;
        border: solid;
        border-width: 1px;
        font-family: Jost;
        font-weight: 600;
        font-size: 16px;
        border-color: #7D7D7D;
    }

    .eye-icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        right: 35px;
    }

    .forgot, .forgot:visited, .forgot:hover, .forgot:active {
        font-family: 'Jost';
        margin-left: 33px;
        color: inherit;
        font-weight: 600;
    }
    
    .pass-container{
        position: relative;
        
    }

    .logb{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-left: 33px;
        color: white;
        background-color: black;
        border-radius: 20px;
        width: calc(99% - 48px);
        padding: 5px;
        border: none;
        font-family: 'Jost';
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
    }

    .line-or-container{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 47px);
    margin-left: 35px;
    }

    .line{
        display: inline;
        width: calc(49% - 8px);
        border-bottom: 1px solid #8D8D8D;
        height: 28px;
        
    }
    .or{
        display: inline;
        font-family: Jost;
        color: #7D7D7D;
        font-size: 16px;
        font-weight: 600;
    }

    .socmed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 42px);
    margin-left: 33px;
    padding-bottom: 20px;
}

.google,.fb{
    width: calc(50% - 10px);
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    align-items: center;
    border: solid 1px;
    font-family: Jost;
    font-weight: 600;
    font-size: 16px;
    height: 48px;
    cursor: pointer;
    
}

.gpic,.fpic{
    height: 25px;
    margin: 0px 20px;
    
}

.google{
    background-color: white;
    color: #7D7D7D;
}

.fb{
    background-color: #3B5998;
    color: white;
    border-color: black;
}


.google:hover,.fb:hover,.logb:hover{
    box-shadow: 0px 0px 5px rgba(0,0, 0, 0.2);
}

.google:active,.fb:active,.logb:active{
    opacity: 0.8;
}

