html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

body {
    background: rgba(250, 236, 216, 0.3);
    background-image: url(pic/bg.png);
    background-size: 100% 100%;
}

.main {
    height: auto;
    width: 45%;
    border-radius: 60px;
    box-shadow: 3px 10px 25px rgba(0, 0, 0, 0.45);
    background-color: rgb(253, 249, 243);
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
}

.logo {
    position: absolute;
    height: 60px;
    margin-top: -20px;
    margin-left: -13px;
    
}

.sign {
    display: inline-block;
    font-family: "Jost", sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-top: 25px;
    margin-left: 33px;
    margin-bottom: 25px;
    
}

.email, .user {
    display: block;
    width: calc(98% - 60px);
    padding: 13px 0px 13px 40px;
    margin: 10px 0;
    margin-left: 20px;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    font-family: Jost;
    font-weight: 600;
    font-size: 16px;
    border-color: #7D7D7D;
}


.pass-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    width: calc(100% - 32px);
    position: relative;
}

.pass, .cpass {
    width: calc(58% - 10px);
    padding: 13px 30px 13px 40px;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    font-family: Jost;
    font-weight: 600;
    font-size: 16px;
    border-color: #7D7D7D;
}

.pass{
    margin-right: 30px;
}

.eye-icon, .eye-icon2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.eye-icon {
    left: calc(50% - 40px);
}

.eye-icon2 {
    right: 10px;
}

.signBt{
    display: block;
    width: fit-content;
    margin: 15px auto;
    font-family: Jost;
    font-weight: 600;
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    padding: 5px 45px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.line-or-container{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 42px);
    margin-top: -20px;
    margin-left: 22px;
}
.line{
    display: inline;
    width: calc(49% - 8px);
    border-bottom: 1px solid #8D8D8D;
    height: 27px;
    
}
.or{
    display: inline;
    font-family: Jost;
    color: #7D7D7D;
    font-size: 16px;
    font-weight: 600;
}

.socmed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 42px);
    margin-left: 20px;
}

.google,.fb{
    width: calc(50% - 10px);
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    align-items: center;
    border: solid 1px;
    font-family: Jost;
    font-weight: 600;
    font-size: 16px;
    height: 48px;
    cursor: pointer;
    
}

.gpic,.fpic{
    height: 25px;
    margin: 0px 20px;
    
}

.google{
    background-color: white;
    color: #7D7D7D;
}

.fb{
    background-color: #3B5998;
    color: white;
    border-color: black;
}

.nextpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Jost;
    font-size: 13px;
    
    
}

.question{
    margin-bottom: 5px;
    margin-top: 30px; 
}

.link, .link:visited, .link:hover, .link:active {
color: inherit;
font-weight: 600;
}

.google:hover,.fb:hover,.signBt:hover{
    box-shadow: 0px 0px 5px rgba(0,0, 0, 0.2);
}

.google:active,.fb:active,.signBt:active{
    opacity: 0.8;
}